menuconfig DARMOK_CORE
	tristate "DARMOK driver protocol stack"
	default m 
	help
	  Say Y to enable the customized DResearch DARMOK
	  driver set which allows communication with the 
	  onboard microcontroller

if DARMOK_CORE

config DARMOK_RTC
	tristate "RTC dev node communicating with BCTRL"
	depends on DARMOK_CORE
	help
	  Driver for communication with Hardware RTC connected 
	  to the DARMOK board controller over a serial interface

config DARMOK_RAW
	tristate "Legacy interface between the drbcc cmd line tool and BCTRL"
	depends on DARMOK_CORE
	help
	  Legacy driver as an interface between the old command line drbcc tool and 
	  the serial conntect microcontroller

config DARMOK_WATCHDOG
	tristate "Watchdog device communicating with BCTRL"
	depends on DARMOK_CORE
	help
      Driver for communication with the BCTRL watchdog

endif # DARMOK_CORE
